@media print {
  /* Oculta todo el cuerpo por defecto al imprimir */
  body > * {
    display: none !important;
  }

  /* Muestra solo el contenedor de impresión y su contenido */
  #printable-content, #printable-content * {
    display: block !important;
    visibility: visible !important;
  }

  /* Asegúrate de que el contenedor de impresión ocupe toda la página */
  #printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
